openapi: 3.0.3
info:
  title: Microsoft Graph Teams Apps Online Meetings API
  description: Core REST API for accessing Microsoft Teams data including teams, channels, messages, tabs, apps, calls, and online meetings through Microsoft Graph.
  version: 1.0.0
  contact:
    name: Microsoft Graph Support
    url: https://developer.microsoft.com/graph/support
  license:
    name: Microsoft API Terms of Use
    url: https://learn.microsoft.com/en-us/legal/microsoft-apis/terms-of-use
  x-generated-from: documentation
  x-last-validated: '2026-04-18'
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0 production endpoint
security:
- oauth2:
  - Team.ReadBasic.All
  - Channel.ReadBasic.All
  - ChatMessage.Read
tags:
- name: Online Meetings
  description: Operations for creating and managing online meetings.
paths:
  /communications/onlineMeetings:
    post:
      operationId: createOnlineMeeting
      summary: Microsoft Teams Create Online Meeting
      description: Create a new online meeting.
      tags:
      - Online Meetings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnlineMeeting'
            examples:
              CreateOnlineMeetingRequestExample:
                summary: Default createOnlineMeeting request
                x-microcks-default: true
                value:
                  subject: Weekly Standup
                  startDateTime: '2026-04-19T09:00:00Z'
                  endDateTime: '2026-04-19T09:30:00Z'
      responses:
        '201':
          description: Online meeting created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnlineMeeting'
              examples:
                CreateOnlineMeeting201Example:
                  summary: Default createOnlineMeeting 201 response
                  x-microcks-default: true
                  value:
                    id: meeting-abc123
                    subject: Weekly Standup
                    startDateTime: '2026-04-19T09:00:00Z'
                    endDateTime: '2026-04-19T09:30:00Z'
                    joinWebUrl: https://teams.microsoft.com/l/meetup-join/19:meeting_abc123/
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /communications/onlineMeetings/{meeting-id}:
    get:
      operationId: getOnlineMeeting
      summary: Microsoft Teams Get Online Meeting
      description: Retrieve details of an online meeting.
      tags:
      - Online Meetings
      parameters:
      - name: meeting-id
        in: path
        required: true
        description: The unique identifier of the meeting.
        schema:
          type: string
      responses:
        '200':
          description: Meeting returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnlineMeeting'
        '401':
          description: Unauthorized.
        '404':
          description: Meeting not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    OnlineMeeting:
      type: object
      description: Represents an online meeting in Teams.
      properties:
        id:
          type: string
          description: Unique identifier for the meeting.
          example: meeting-abc123
        subject:
          type: string
          description: Subject of the meeting.
          example: Weekly Standup
        startDateTime:
          type: string
          format: date-time
          description: Start time of the meeting.
          example: '2026-04-19T09:00:00Z'
        endDateTime:
          type: string
          format: date-time
          description: End time of the meeting.
          example: '2026-04-19T09:30:00Z'
        joinWebUrl:
          type: string
          format: uri
          description: URL to join the meeting.
          example: https://teams.microsoft.com/l/meetup-join/19:meeting_abc123/
        participants:
          type: object
          properties:
            organizer:
              type: object
              properties:
                identity:
                  type: object
                  properties:
                    user:
                      type: object
                      properties:
                        id:
                          type: string
                        displayName:
                          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization using Microsoft Identity Platform
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            Team.ReadBasic.All: Read teams basic info
            Team.Create: Create teams
            Channel.ReadBasic.All: Read channel basic info
            Channel.Create: Create channels
            ChannelMessage.Read.All: Read channel messages
            ChatMessage.Read: Read chat messages
            ChatMessage.Send: Send chat messages
            Calls.Initiate.All: Initiate calls
            Calls.JoinGroupCall.All: Join group calls
            OnlineMeetings.ReadWrite.All: Create and manage online meetings
