openapi: 3.0.3
info:
  title: Microsoft Graph Teams Apps API
  description: Core REST API for accessing Microsoft Teams data including teams, channels, messages, tabs, apps, calls, and online meetings through Microsoft Graph.
  version: 1.0.0
  contact:
    name: Microsoft Graph Support
    url: https://developer.microsoft.com/graph/support
  license:
    name: Microsoft API Terms of Use
    url: https://learn.microsoft.com/en-us/legal/microsoft-apis/terms-of-use
  x-generated-from: documentation
  x-last-validated: '2026-04-18'
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0 production endpoint
security:
- oauth2:
  - Team.ReadBasic.All
  - Channel.ReadBasic.All
  - ChatMessage.Read
tags:
- name: Apps
  description: Operations for managing app installations in teams.
paths:
  /teams/{team-id}/installedApps:
    get:
      operationId: listInstalledApps
      summary: Microsoft Teams List Installed Apps
      description: Retrieve a list of apps installed in a team.
      tags:
      - Apps
      parameters:
      - name: team-id
        in: path
        required: true
        description: The unique identifier of the team.
        schema:
          type: string
      responses:
        '200':
          description: Installed apps returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInstallationCollection'
        '401':
          description: Unauthorized.
        '404':
          description: Team not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AppInstallationCollection:
      type: object
      description: Collection of app installations.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/TeamsAppInstallation'
    TeamsAppInstallation:
      type: object
      description: Represents an app installed in a team.
      properties:
        id:
          type: string
          description: Unique identifier.
          example: app-install-001
        teamsApp:
          type: object
          properties:
            id:
              type: string
              example: com.contoso.app
            displayName:
              type: string
              example: Contoso App
            distributionMethod:
              type: string
              enum:
              - store
              - organization
              - sideloaded
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization using Microsoft Identity Platform
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            Team.ReadBasic.All: Read teams basic info
            Team.Create: Create teams
            Channel.ReadBasic.All: Read channel basic info
            Channel.Create: Create channels
            ChannelMessage.Read.All: Read channel messages
            ChatMessage.Read: Read chat messages
            ChatMessage.Send: Send chat messages
            Calls.Initiate.All: Initiate calls
            Calls.JoinGroupCall.All: Join group calls
            OnlineMeetings.ReadWrite.All: Create and manage online meetings
