openapi: 3.0.3
info:
  title: Microsoft Graph Teams Apps Tabs API
  description: Core REST API for accessing Microsoft Teams data including teams, channels, messages, tabs, apps, calls, and online meetings through Microsoft Graph.
  version: 1.0.0
  contact:
    name: Microsoft Graph Support
    url: https://developer.microsoft.com/graph/support
  license:
    name: Microsoft API Terms of Use
    url: https://learn.microsoft.com/en-us/legal/microsoft-apis/terms-of-use
  x-generated-from: documentation
  x-last-validated: '2026-04-18'
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0 production endpoint
security:
- oauth2:
  - Team.ReadBasic.All
  - Channel.ReadBasic.All
  - ChatMessage.Read
tags:
- name: Tabs
  description: Operations for managing tabs in channels.
paths:
  /teams/{team-id}/channels/{channel-id}/tabs:
    get:
      operationId: listChannelTabs
      summary: Microsoft Teams List Channel Tabs
      description: Retrieve a list of tabs in a channel.
      tags:
      - Tabs
      parameters:
      - name: team-id
        in: path
        required: true
        description: The unique identifier of the team.
        schema:
          type: string
      - name: channel-id
        in: path
        required: true
        description: The unique identifier of the channel.
        schema:
          type: string
      responses:
        '200':
          description: Tabs returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TabCollection'
              examples:
                ListChannelTabs200Example:
                  summary: Default listChannelTabs 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: tab-001
                      displayName: Project Wiki
        '401':
          description: Unauthorized.
        '404':
          description: Channel not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    TeamsTab:
      type: object
      description: Represents a tab pinned to a channel.
      properties:
        id:
          type: string
          description: Unique identifier for the tab.
          example: tab-001
        displayName:
          type: string
          description: Display name of the tab.
          example: Project Wiki
        webUrl:
          type: string
          format: uri
          description: URL to the tab content.
        configuration:
          type: object
          properties:
            entityId:
              type: string
            contentUrl:
              type: string
              format: uri
            removeUrl:
              type: string
              format: uri
            websiteUrl:
              type: string
              format: uri
    TabCollection:
      type: object
      description: Collection of tabs.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/TeamsTab'
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization using Microsoft Identity Platform
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            Team.ReadBasic.All: Read teams basic info
            Team.Create: Create teams
            Channel.ReadBasic.All: Read channel basic info
            Channel.Create: Create channels
            ChannelMessage.Read.All: Read channel messages
            ChatMessage.Read: Read chat messages
            ChatMessage.Send: Send chat messages
            Calls.Initiate.All: Initiate calls
            Calls.JoinGroupCall.All: Join group calls
            OnlineMeetings.ReadWrite.All: Create and manage online meetings
